
/* $baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen); */

$btnPrimaryBackground: green;
$navbarLinkColor: #D5D9DA;
$navbarLinkColorHover: white;
$navbarBackground: #595F5F;
$navbarBackgroundHighlight: #595F5F;

@import "bootstrap";

body {
	padding-top:60px;
}

@import "bootstrap-responsive";

.hero-unit {
	background-color: #DCDCDC;
}

.footer {
	position: fixed;
	bottom: 0;
	background-color: #DCDCDC;
	color: $grayLight;
	height: 30px;
	a {
		color: grey;
	}
}

